header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#app {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#window {
  display: flex;
  justify-content: space-around;
}

.wind {
  width: 30vw;
  text-align: center;
}

.card {
  margin: 2vw;
  border: 2px solid grey;
  border-radius: 10px;
}

#modal_new, #modal_del {
  position: absolute;
  top: 40%;
  left: 40%;
}

.modal_btn {
  display: flex;
  justify-content: space-around;
}

.card_form {
  display: flex;
  flex-direction: column;
}